@{
    ViewBag.Title = "微信SDK,微信公众平台,小程序SDK - Senparc.Weixin SDK - 公众号 企业号 开放平台 盛派微信号";
}
@section scripts
{
    <script>
        $(function () {
            $(".test table td:not(:empty)").hover(function () {
                $(this).addClass('currentTestItem');
            },
                function () {
                    $(this).removeClass('currentTestItem');
                });

            $('#showTest').click(function () {
                $(this).fadeOut(function () { $('#testTip').slideDown(); });
            });
        });
    </script>
}
    <div class="wrapper">
        <div class="weixin-bottom">
            <p class="weixin-item-title">
                目前 Senparc.Weixin SDK 已支持微信 7.x API 中几乎所有接口以及<strong>小程序</strong>
            </p>
            <p>
                当前站点运行 <a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Samples/Senparc.Weixin.MP.Sample.vs2017" target="_blank">Sample</a>
                版本：v@(TempData["SampleVersion"]) (@TempData["BuildTime"])
            </p>
            <p>&nbsp;</p>

            <div class="clear"></div>

            @{
                int i = 0;
            }
            <div class="weixin-bottom-table" id="nuget-versions">
                <table class="tbVersion">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>功能模块</th>
                            <th>Nuget 包名称</th>
                            <th>Nuget 版本</th>
                            <th>当前站点运行版本</th>
                            <th>.NET 3.5</th>
                            <th>.NET 4.0</th>
                            <th>.NET 4.5</th>
                            <th>.NET Standard 2.0</th>
                            <th>.NET Core 2.2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@(++i)</td>
                            <td>SDK 公共基础库</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank">
                                    Senparc.Weixin
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["WeixinVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>微信支付  <span style="color:red">new</span></td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.TenPay" target="_blank">
                                    Senparc.Weixin.TenPay
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.TenPay" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.TenPay.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["TenPayVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>公众号<br />JSSDK<br />摇一摇周边</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">
                                    Senparc.Weixin.MP
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MpVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>小程序 <span style="color:red">HOT</span></td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.WxOpen" target="_blank">
                                    Senparc.Weixin.WxOpen
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.WxOpen" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.WxOpen.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WxOpen/" target="_blank">v@(TempData["WxOpenVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>开放平台 SDK</td>
                            <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Open" target="_blank">Senparc.Weixin.Open.dll</a></td>
                            <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Open" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.Open.svg?style=flat" /></a></td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["OpenVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>企业微信 SDK</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Work" target="_blank">
                                    Senparc.Weixin.Work
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Work" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Work.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["WorkVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>MVC 扩展插件</td>
                            <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank">Senparc.Weixin.MP.MvcExtentsion.dll</a></td>
                            <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.Mvc.svg?style=flat" /></a></td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["ExtensionVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td>
                                <img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" />
                            </td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>Redis 缓存</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Redis" target="_blank">
                                    Senparc.Weixin.Cache.Redis
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Redis" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Cache.Redis.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["RedisCacheVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>Memcached 缓存</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Memcached" target="_blank">
                                    Senparc.Weixin.Cache.Memcached
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Memcached" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Cache.Memcached.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MemcachedCacheVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>WebSocket 模块</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.WebSocket" target="_blank">
                                    Senparc.WebSocket
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.WebSocket" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.WebSocket.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/JeffreySu/Senparc.WebSocket/" target="_blank">v@(TempData["WebSocketVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-N-lightgrey.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>CO2NET<br />公共基础库</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.CO2NET" target="_blank">
                                    Senparc.CO2NET
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.CO2NET" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.CO2NET.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/Senparc/Senparc.CO2NET" target="_blank">v@(TempData["CO2NETVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>
                        <tr>
                            <td>@(++i)</td>
                            <td>NeuChar<br />NeuChar 跨平台支持库</td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.NeuChar" target="_blank">
                                    Senparc.NeuChar
                                </a>
                            </td>
                            <td>
                                <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.NeuChar" target="_blank">
                                    <img src="https://img.shields.io/nuget/v/Senparc.NeuChar.svg?style=flat" />
                                </a>
                            </td>
                            <td><a class="sdk-version" href="https://github.com/Senparc/NeuChar" target="_blank">v@(TempData["NeuCharVersion"] ?? "未引用")</a></td>
                            <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Standard 2.0" alt=".NET Core" src="https://img.shields.io/badge/standard2.0-Y-brightgreen.svg" /></td>
                            <td><img title=".NET Core 2.2" alt=".NET Standard 2.0" src="https://img.shields.io/badge/core2.2-Y-brightgreen.svg" /></td>
                        </tr>

                </table>
            </div>
            <div class="clear"></div>
        </div>
    </div>

